// Login Page
// --------------------------------------------------
// Login page style.

login-page {
    section {
        text-align:             center;
        margin-bottom:          15%;
    }

    .loginPanel {
        width:                  400px;
        max-width:              90%;
        padding:                20px;
        margin:                 20px;
        border:                 1px solid map-get($colors, light);
        display:                inline-block;

        h2 {
            font-size:              18px;
        }

        ion-item {
            padding:                0px;
        }

        .buttons {
            margin-top:             40px;
            text-align:             center;
        }
    }
}
