<section class="container">
    <div class="loginPanel">
        <h2>Login</h2>
        <form [formGroup]="login">
            <ion-item>
                <ion-label color="primary" floating>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>

            <!--Test if the FormData is like the form validator requires and warn the user-->
            <div *ngIf="login.controls['email'].hasError('required') && login.controls['email'].touched" class="alert alert-danger">Insira seu Email</div>

            <ion-item>
                <ion-label color="primary" floating>Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <div class="buttons">
                <button ion-button icon-left (click)="sendData()" [disabled]="!login.valid">
                    <ion-icon name="person"></ion-icon>
                    <span>Entrar</span>
                </button>
            </div>
        </form>
    </div>
</section>
