<!--
  Generated template for the EditEvent page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit-event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="editForm()">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="event.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Inicio</ion-label>
      <ion-input type="date" [(ngModel)]="event.inicio" name="begin_date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Fim</ion-label>
      <ion-input type="date" [(ngModel)]="event.fim" name="end_date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="event.endereco" name="adress"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Local</ion-label>
      <ion-input type="text" [(ngModel)]="event.local" name="place"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="event.descricao" name="event_description"></ion-input>
    </ion-item>
    
    <button ion-button type="submit" block>Edit Evento</button>
  </form>
</ion-content>
