<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{event.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="goRegistration(event)">
    <ion-icon name="person-add"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Inscrever-se
  </button>
</ion-content>
