<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div (click)="goLogin()">Login</div>
  <br><br>
  <div *ngIf="hasEvent">
    <div *ngFor="let event of events">
      <div (click)="goEventPage(event)">{{event.nome}}</div>
    </div>
  </div>


    <div>
      <qr-code [value]="'TESTEEEEEEE!'" [size]="150"></qr-code>
    </div>
    <button ion-button (click)="Scan()">SCAN</button>
</ion-content>
