<!--
  Generated template for the EventRegistration page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inscrição {{event.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="register" (ngSubmit)="sendData()">
   <ion-list>
         <ion-item>
            <ion-label color="primary" floating>Nome</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <div *ngIf="register.controls['firstName'].hasError('required') && register.controls['firstName'].touched" class="alert mini-alert">Insira seu Nome</div>
        <div *ngIf="register.controls['firstName'].hasError('pattern') && register.controls['firstName'].touched" class="alert mini-alert">Deve conter apenas caracteres.</div>

        <ion-item>
            <ion-label color="primary" floating>Sobrenome</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>
        <div *ngIf="register.controls['lastName'].hasError('required') && register.controls['lastName'].touched" class="alert mini-alert">Insira sua sobrenome</div>
        <div *ngIf="register.controls['lastName'].hasError('pattern') && register.controls['lastName'].touched" class="alert mini-alert">Deve conter apenas caracteres.</div>

        <ion-item>
            <ion-label color="primary" floating>CPF</ion-label>
            <ion-input type="text" formControlName="cpf"></ion-input>
        </ion-item>
          <div *ngIf="register.controls['cpf'].hasError('required') && register.controls['cpf'].touched" class="alert mini-alert">Insira o CPF</div>
          <div *ngIf="register.controls['cpf'].hasError('pattern') && register.controls['cpf'].touched" class="alert mini-alert">Deve conter apenas números.</div>

        <ion-item>
          <ion-label color="primary" floating>Matrícula</ion-label>
          <ion-input type="text" formControlName="matricula"></ion-input>
        </ion-item>
        <div *ngIf="register.controls['matricula'].hasError('pattern') && register.controls['matricula'].touched" class="alert mini-alert">Deve conter apenas números.</div>     
        
        <ion-item>
          <ion-label color="primary" stacked>Data de Nascimento</ion-label>
          <ion-input type="date" formControlName="birthday"></ion-input>
        </ion-item>
          <div *ngIf="register.controls['birthday'].hasError('required') && register.controls['birthday'].touched" class="alert mini-alert">Insira sua data de nascimento</div>
 
        <ion-item>
            <ion-label color="primary" floating>Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="register.controls['email'].hasError('required') && register.controls['email'].touched" class="alert mini-alert">Insira seu email</div>

    </ion-list>
    <button ion-button icon-left type="submit" [disabled]="!register.valid"><ion-icon name="person-add"></ion-icon>Inscrever-se</button>
  </form>

</ion-content>
