<div class="container content">
    <div class="row">
        <div class="col-md">
            <h3>Cadastro de Novo Usuário</h3>
            <form [formGroup]="signup" (ngSubmit)="sendData()">
                <ion-list>
                    <ion-item>
                        <ion-label color="primary" floating>Login</ion-label>
                        <ion-input type="text" formControlName="login"></ion-input>
                    </ion-item>

                    <div *ngIf="signup.controls['login'].hasError('required') && signup.controls['login'].touched" class="alert mini-alert">Insira seu Nome</div>
                    <div *ngIf="signup.controls['login'].hasError('pattern') && signup.controls['login'].touched" class="alert mini-alert">Digite um nome Válido.</div>
                    
                    <ion-item>
                        <ion-label color="primary" floating>Senha</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div *ngIf="signup.controls['password'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira sua senha</div>
                    <div *ngIf="signup.controls['password'].hasError('minlength') && signup.controls['email'].touched" class="alert mini-alert">A senha deve ter no mínimo 6 caracteres.</div>

                    <ion-item>
                        <ion-label color="primary" floating>Nome</ion-label>
                        <ion-input type="text" formControlName="firstName"></ion-input>
                    </ion-item>

                    <div *ngIf="signup.controls['firstName'].hasError('required') && signup.controls['firstName'].touched" class="alert mini-alert">Insira seu Nome</div>
                    <div *ngIf="signup.controls['firstName'].hasError('pattern') && signup.controls['firstName'].touched" class="alert mini-alert">Digite um nome Válido.</div>

                    <ion-item>
                        <ion-label color="primary" floating>Email</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                     <div *ngIf="signup.controls['email'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira o email de contato</div>

                </ion-list>
                <button ion-button icon-left type="submit" [disabled]="!signup.valid"><ion-icon name="person-add"></ion-icon>Cadastrar</button>
            </form>
        </div>
    </div>
</div>
