// Sign-Up Page
// --------------------------------------------------
// Sign-up page style.
sign-up-page {
    .mini-alert {
        max-width: 250px;
        color: #B71C1C;
    }

    ion-label {
        text-align: left !important;
        font-size: 11pt !important;
        text-decoration: none !important;
    }

    ion-input {

    }
}
