<!--
  Generated template for the Menu page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>
  

<ion-content padding>
  <div *ngFor="let event of events">
    <ion-grid>
      <ion-row>
        <ion-col (click)="editEvent(event)">{{event.nome}}</ion-col>
        <ion-col>{{event.inicio}}</ion-col>
        <ion-col>{{event.fim}}</ion-col>
        <ion-col (click)="delEvent(event.idevento)"><ion-icon name="close-circle"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
