<!--
  Generated template for the CreateEvent page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>create_event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container content">
      <div class="row">
          <div class="col-md">
              <h3>Cadastro de Novo Usuário</h3>
              <form [formGroup]="create_event" (ngSubmit)="sendData()">
                  <ion-list>
                      <ion-item>
                          <ion-label color="primary" floating>Nome do Evento</ion-label>
                          <ion-input type="text" formControlName="event_name"></ion-input>
                      </ion-item>

                      <div *ngIf="create_event.controls['event_name'].hasError('required') && create_event.controls['event_name'].touched" class="alert mini-alert">Insira o nome do evento</div>
                      <div *ngIf="create_event.controls['event_name'].hasError('pattern') && create_event.controls['event_name'].touched" class="alert mini-alert">Digite um nome Válido.</div>
                      
                      <ion-item>
                          <ion-label color="primary" stacked>Início</ion-label>
                          <ion-input type="date" formControlName="begin_date"></ion-input>
                      </ion-item>
                      <div *ngIf="create_event.controls['begin_date'].hasError('required') && create_event.controls['begin_date'].touched" class="alert mini-alert">Insira a data do começo do evento</div>

                      <ion-item>
                          <ion-label color="primary" stacked>Fim</ion-label>
                          <ion-input type="date" formControlName="end_date"></ion-input>
                      </ion-item>

                      <div *ngIf="create_event.controls['end_date'].hasError('required') && create_event.controls['end_date'].touched" class="alert mini-alert">Insira a data do fim do evento</div>

                      <ion-item>
                          <ion-label color="primary" floating>Endereço</ion-label>
                          <ion-input type="text" formControlName="adress"></ion-input>
                      </ion-item>

                       <div *ngIf="create_event.controls['adress'].hasError('required') && create_event.controls['adress'].touched" class="alert mini-alert">Insira o endereço onde ocorrerá o evento</div>

                       <ion-item>
                          <ion-label color="primary" floating>Local</ion-label>
                          <ion-input type="text" formControlName="place"></ion-input>
                      </ion-item>

                       <div *ngIf="create_event.controls['place'].hasError('required') && create_event.controls['place'].touched" class="alert mini-alert">Insira o nome do local (prédio, sala, etc)</div>

                      <ion-item>
                          <ion-label color="primary" floating>Descrição</ion-label>
                          <ion-input type="text" formControlName="event_description"></ion-input>
                      </ion-item>

                       <div *ngIf="create_event.controls['event_description'].hasError('required') && create_event.controls['event_description'].touched" class="alert mini-alert">Descrição do evento</div>

                  </ion-list>
                  <button ion-button icon-left type="submit" [disabled]="!create_event.valid"><ion-icon name="create"></ion-icon>Criar Evento</button>
              </form>
          </div>
      </div>
  </div>
</ion-content>
